<!DOCTYPE html>
<html>
<head>
<title>珍爱网-首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/style.css" rel="stylesheet" media="screen">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/style.css" rel="stylesheet" media="screen">

</head>
<body style="background:#fff !important;">
<div>

	<div class="photo_top_bar"><div class="file_upload_btn"><a href="#"  class="btn btn-info" id="upload_btn" data-loading-text="上传中...">上传照片</a><input type="file" placeholder="选择照片" id="photo"></div>共<span id="photo_num">0</span>张</div>
	<div id="modal-container-695811" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel2">
				上传照片
			</h3>
			
		</div>
		<div class="modal-body">
				<div class="alert alert-info">
					<strong>提示：</strong> 请上传小于3M的照片
				</div>
				<form class="form-horizontal" id="photo_form">
					<div class="control-group">
						<div class="controls">
							
						</div>
					</div>
				</form>
		</div>
		<div class="modal-footer tc">
			<button class="btn btn-primary" data-loading-text="处理中..." id="upload_photo">上传</button>
		</div>
	</div> 
	
	<ul class="photos mt20" id="photo_list">	</ul>
</div>
<input type="hidden" id="wedding_id" value="<%= id %>">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="https://cn.avoscloud.com/scripts/lib/av-0.2.7.min.js"></script>
<script type="text/javascript">
        AV.initialize("fe8r9l7ml0ib0ycsh03olv9qcxtay51v3jdtbg5u78m4s7vr", "r345znn0o1c3mfx11u49rn5mwqsty5h0xfb3pe3u3rumzbt2");
</script>
<script type="text/javascript">
	var categoryId = '<%= id%>';
	var PHOTO_NUM = 0;
	
	function createTpl(str, cfg) {
		var _re = /(%([\w]+?)%)/g;
		
		return str.replace(_re, function() {
			var _val = cfg[arguments[2]]+'';
			if(typeof _val == 'undefined') {
				_val = '';
			}
			return _val;
		});
	}
	
	function initPhotoTpl(conf){
		var tpl = '<li id="%id%"><a class="photo_img" href="%img%" target="blank"  data-lightbox="demo" ><img class="img-polaroid" src="%img%?imageView/2/w/300" alt="" /><span href="#" class="remove_photo icon-remove" cid="%id%"></span></a></li>';
		var str = createTpl(tpl,conf);
		return str;
	}
	
	$('#photo_list').on('click','.remove_photo',function(){
		var box = $(this).closest('li');
		var id = $(this).attr('cid');
		
		if (confirm('确定要删除！')){
			var Photo = AV.Object.extend('Photo');
			var queryPhoto = new AV.Query(Photo);
			
			queryPhoto.get(id, {
			  success: function(myObject) {
				myObject.destroy({
				  success: function(myObject) {
					box.remove();
					PHOTO_NUM--;
					$('#photo_num').text(PHOTO_NUM);
				  },
				  error: function(myObject, error) {
					alert('操作失败');
				  }
				});
			  },
			  error: function(object, error) {
				alert('操作失败');
			  }
			});
			
		}
		return false;
	});
	
	function uploadImage(fileController,callback){
		var fileUploadControl = fileController[0];
		if (fileUploadControl.files.length > 0){
			var file = fileUploadControl.files[0];
  			var name = "photo.jpg";

			var avFile = new AV.File(name,file);
			avFile.save().then(function(file){
				callback && callback(file);
			},function(error){});
			
		}else{
			alert('请选择要上传的图片。');
		}
	}
	
	//创建相册
	$('#photo').change(function(){
		uploadImage($('#photo'),function(file){
			var fileId = file.id;
			var Photo = AV.Object.extend('Photo');
			var photo = new Photo();
			photo.set('categoryId',categoryId);
			photo.set('image',file);
			setDoingStatus($('#upload_btn'));
			photo.save(null,{
				success:function(photo){
					$('.close').click();
					var id = photo.id;
					var img = photo.get('image').url();
					var node = initPhotoTpl({id:id,img:img});
					$(node).appendTo($('#photo_list'));
					$('#photo_form')[0].reset();
					PHOTO_NUM++;
					$('#photo_num').text(PHOTO_NUM);
					
				},
				error:function(){
					
				},
			});
		});
	});
	$('#upload_photo').on('click',function(){
		uploadImage($('#photo'),function(file){
			var fileId = file.id;
			var Photo = AV.Object.extend('Photo');
			var photo = new Photo();
			photo.set('categoryId',categoryId);
			photo.set('image',file);
			photo.save(null,{
				success:function(photo){
					$('.close').click();
					var id = photo.id;
					var img = photo.get('image').url();
					var node = initPhotoTpl({id:id,img:img});
					$(node).appendTo($('#photo_list'));
					$('#photo_form')[0].reset();
					PHOTO_NUM++;
					$('#photo_num').text(PHOTO_NUM);
					
				},
				error:function(){
					
				},
			});
		});
		return false;
	});
	
	function init(){
		var Photo = AV.Object.extend('Photo');
		var queryPhoto = new AV.Query(Photo);
		queryPhoto.equalTo("categoryId", categoryId);
		
		queryPhoto.find({
		  success: function(results) {
			var _html = '';
			
			for (var i=0,len=results.length; i<len; i++){
				var obj = results[i];
				var id = obj.id;
				var img = obj.get('image').url();
				_html += initPhotoTpl({id:id,img:img});
			}
			$('#photo_list').html(_html);
			PHOTO_NUM = len;
			$('#photo_num').text(len);
		  },
		  error: function(error) {
			alert("Error: " + error.code + " " + error.message);
		  }
		});
		
	}
	
	init();
</script>
</body>
</html>