<!DOCTYPE html>
<html>
<head>
<title>珍爱网-首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="http://zhenyouai.avosapps.com/css/style.css" rel="stylesheet" media="screen">
<link href="http://zhenyouai.avosapps.com/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="http://zhenyouai.avosapps.com/css/style.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" media="screen" href="http://zhenyouai.avosapps.com/bootstrap/datapicker/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">珍爱网</a>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">主页</a>
					</li>
					<li>
						<a href="#">帮助</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical">
					</li>
					<li class="dropdown">
						 <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= userName %><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">用户简介</a>
							</li>
							<li>
								<a href="#">修改密码</a>
							</li>
							<li>
								<a href="#">其他</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">退出</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
			<a id="modal-695810" href="#modal-container-695810" role="button" class="btn" data-toggle="modal">创建婚礼</a>
			
			<div id="modal-container-695810" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						创建婚礼
					</h3>
					
				</div>
				<div class="modal-body">
					    <form class="form-horizontal">
							<div class="control-group">
								<label class="control-label">男方：</label>
								<div class="controls">
									<input type="text" placeholder="男方姓名">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">女方：</label>
								<div class="controls">
									<input type="text" placeholder="女方姓名">
								</div>
							</div>
							<div class="control-group">
								<label for="" class="control-label">日期：</label>
								<div class="controls">
									<input type="text" placeholder="日期" id="datetimepicker"/>
								</div>
							</div>
							
						</form>
				</div>
				<div class="modal-footer tc">
					<button class="btn btn-primary" data-loading-text="正在加载">创建</button>
				</div>
			</div>
			<table class="table wedding_list">
				<thead>
					<tr>
						<th>
							编号（邀请码）
						</th>
						<th>
							婚照
						</th>
						<th>
							新郎新娘
						</th>
						<th>
							日期
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
					<% if (weddings){ %>
						<% weddings.forEach(function(wedding){ %>
							<tr>
								<td>
									<%= wedding.get('sweetcode') %>
								</td>
								<td>
									<img src="http://zhenyouai.avosapps.com/images/demo/demo1.jpg" class="img-polaroid" alt="" style="width:90px;" />
								</td>
								<td>
									<%= wedding.get('boy') %>& <%= wedding.get('girl') %>
								</td>
								<td>
									2013-12-12 9:00
								</td>
								<td>
									<a href="./wedding?id=1">编辑</a>
									<a href="#">删除</a>
								</td>
							</tr>
						
					<%	})%>
					<% }%>
					
				</tbody>
			</table>
			<div class="pagination">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://zhenyouai.avosapps.com/bootstrap/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="http://zhenyouai.avosapps.com/bootstrap/datapicker/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy hh:mm',
        language: 'en',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: false
      });
    </script>
</body>
</html>