<!DOCTYPE html>
<html>
<head>
<title>珍爱网-登陆</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="http://zhenyouai.avosapps.com/css/style.css" rel="stylesheet" media="screen">
<link href="http://zhenyouai.avosapps.com/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
	<div class="login_box">
		<div class="row-fluid">
			<div class="span12">
				<form class="form-horizontal"  id="login_form">
					<div class="control-group">
						 <label class="control-label" for="inputEmail">邮箱</label>
						<div class="controls">
							<input id="inputEmail" type="text" />
						</div>
					</div>
					<div class="control-group">
						 <label class="control-label" for="inputPassword">密码</label>
						<div class="controls">
							<input id="inputPassword" type="password" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							 <label class="checkbox"><input type="checkbox" /> 记住</label> <button type="submit" class="btn">登陆</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://zhenyouai.avosapps.com/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#login_form').submit(function(){
		var user = new AV.User();
		
		AV.User.login
		AV.User.logIn("admin", "123456", {
		  success: function(user) {
			alert('success');
		  },
		  error: function(user, error) {
			alert('error');
		  }
		});
		
		return false;
	});
</script>
</body>
</html>