<!DOCTYPE html>
<html>
<head>
<title>珍爱网-登陆</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="http://zhenyouai.avosapps.com/css/style.css" rel="stylesheet" media="screen">
<link href="http://zhenyouai.avosapps.com/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
	<div class="login_box">
		<div class="row-fluid">
			<div class="span12">
				<form class="form-horizontal" method="post"  id="login_form">
					<img src="/images/login_bg.jpg" alt="" class="login_ad"/>
					<div class="control-group">
						 <label class="control-label" for="inputAccount">帐号</label>
						<div class="controls">
							<input id="inputAccount" name="name" type="text" class="input-xlarge" placeholder="请输入用户名"/>
						</div>
					</div>
					<div class="control-group">
						 <label class="control-label" for="inputPassword">密码</label>
						<div class="controls">
							<input id="inputPassword" name="password" type="password" class="input-xlarge" placeholder="请输入用户密码"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn">登  陆</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://zhenyouai.avosapps.com/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cn.avoscloud.com/scripts/lib/av-0.2.7.min.js"></script>
<script type="text/javascript">
	AV.initialize("fe8r9l7ml0ib0ycsh03olv9qcxtay51v3jdtbg5u78m4s7vr", "r345znn0o1c3mfx11u49rn5mwqsty5h0xfb3pe3u3rumzbt2");
</script>
<script type="text/javascript">
	$('#login_form').submit(function(){
		var userName = $('#inputAccount').val();
		var userPassword = $('#inputPassword').val();
		var user = new AV.User();

		AV.User.logIn(userName, userPassword, {
		  success: function(user) {
			alert('success');
		  },
		  error: function(user, error) {
			console.log(error.message);
			alert(error.message);
		  }
		});
		
		return false;
	});
</script>
</body>
</html>